@charset "UTF-8";


/*título*/

.title{
    font-family: 'Bungee Spice', cursive;
}


/*fundo*/

body {
    width: 650px;
    margin: auto;
    text-align: center;
    background-color: rgb(230, 230, 107);
}

.box{
    background-color: rgb(24, 23, 13);
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    width: 50%;
    flex-wrap: wrap;
    align-content: center;
    border: 3px solid rgb(239, 241, 243);   
}

/*input das notas*/

.input_number {
    margin:16px;
}

/*box com as notas*/

.nota {
    width: 40%;
    margin: auto;
    overflow-y: scroll;
    text-align: justify;
    padding: 16px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(244, 142, 41, 0.9);
}

/*resultado*/

.resultado {
    width: 600px;
    height: 100px;
    margin: auto;
    padding-top: 10px;
}

/*botão de calcular*/

.calcular {
    margin: 35px;
}

.calculadora{
    
    display: flex;
    justify-content: center;
    
}

.caixa{
    border: 3px solid rgb(244, 241, 241);
    padding: 10px ;
    background-color: rgb(234, 234, 98);

}